@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
#content {
	margin: 0 auto;
	padding: 20px 20px 20px 20px;
	text-align: left;
	max-width: 800px;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-weight: 250;
}

nav {
	/*width: 100%;*/
	border-bottom: 1px solid #AAA;
}

a {
	color: #038CFC;
	text-decoration: none;
}

a:link {
}

a:visited {
}

a:hover {
	color: #026abf;
}

a:active {
	color: black;
}

a.navbar {
    color: rgb(141, 141, 141);
    text-decoration: none;
}

a.navbar:hover {
    color: #333;
}

.infoblock {
	/*max-width: 600px;*/
	margin: 2em auto;
	/*display: table-cell;
	vertical-align: middle;*/
}

.infoblock::after {
	content: "";
	display: block;
	clear: both;
}

.headshot {
	float: left;
	height: 12em;
	border-radius: 3px;
	margin: 0em 3em 0em 3em;
}

.contact-info {
	/*display: inline-block;*/
	margin: 1em 1em 1em 3em;
}

.navbar {
	list-style-type: none;
	padding: 0px 0px 0px 0px;
	font-family: sans-serif;
	/*width: 100%;*/
}

.navbar::after {
	content: "";
	display: block;
	clear: both;
}

.navitem {
	float: left;
	display: block;
	margin: 0px 1em 0px 0px;
	padding: 0px 0px 0px 0px;
}

.modeswitch{
    float: right;
	display: block;
	margin: 0px 1em 0px 0px;
	padding: 0px 0px 0px 0px;
}

.imhere a {
	color: #1d81cd;
}

.cvlist {
	list-style-type: none;
	padding: 0em 1em 0em 1em;
}

.cvitem {
	margin: 0em 0em 1em 0em;
}

.cvitem-title {
	font-weight: bold;
	margin: 0px 0px 3px 0px;
}

.authorlist {
	margin: 0px 0px 3px 0px;
}

.venue {
	font-style: italic;
	margin: 0px 0px 3px 0px;
}

.links {
}

.me {
	/* font-weight: 600; */
	color: #dc4040;
	font-style: italic;
}

.display-table {
	display: table;
	width: 100%;
}

.display-tablecell {
	display: table-cell;
}

.ljust {
	text-align: left;
}

.rjust {
	text-align: right;
}

footer {
    text-align: center;
    font-style: italic;
    font-size: 0.75em;
    color: #666666;
}

